<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <springProperty scope="context" name="LOG_LEVEL_PATTERN" source="logging.level" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>@timestamp</fieldName>
          <timeZone>UTC</timeZone>
        </timestamp>
        <logLevel>
          <fieldName>level</fieldName>
        </logLevel>
        <loggerName>
          <fieldName>logger</fieldName>
        </loggerName>
        <threadName>
          <fieldName>thread</fieldName>
        </threadName>
        <message>
          <fieldName>message</fieldName>
        </message>
        <mdc>
          <fieldName>mdc</fieldName>
        </mdc>
        <stackTrace>
          <fieldName>stack_trace</fieldName>
        </stackTrace>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
